@model MalaKnjizara.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Iskoristi druge vanjske sustave za prijavu.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType == "Google")
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Prijavi se sa svojim @p.Caption računom"><img src="~/Slike/login-google.png" style="width:215px;height:41px" /></button>

                        }
                        else if (p.AuthenticationType == "Facebook")
                        {
                            <button style="margin-top: 15px" type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Prijavi se sa svojim @p.Caption računom"><img src="~/Slike/facebook.png" style="width:215px;height:41px" /></button>
                        }
                    }
                </p>
            </div>
        }
    }
}
