@model IEnumerable<MalaKnjizara.ViewModel.KnjigaViewModel>

@{
    ViewBag.Title = "Detalji nakladnika";
}

<div>
    <h4>Nakladnik - @ViewBag.NazivNakladnika</h4>
    <table class="table table-striped">
        <tr>
            <th>
                Naziv knjige
            </th>
            <th>
                Oznaka police
            </th>
            <th>
                Količina
            </th>
            <th>
                Broj stranica
            </th>
            <th>
                Jezik pisanja
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivPolice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojStranica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JezikPisanja)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Natrag na listu", "Index")
</p>
